<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>-->
  <appSettings>
    <!--IP of RTC server-->
    <add key="IpAddrRTC" value="10.23.154.180" />
    <!--SQL lite database-->
    <add key="PathDataBase" value="C:\GIT\PRASA-Deliveries\UTest_bin\PRASA_LV.gc_UTEST1" />
    <!--Refresh rate is in milliseconds-->
    <add key="RefreshRate" value="150" />
    <!--Color when a value has changed (Bytes) value beetween 0 to 255
        Crystal Blue = R:161, G:226, B:255-->
    <add key="RedValue" value="161" />
    <add key="GreenValue" value="226" />
    <add key="BlueValue" value="255" />
    <!--Time that colors stay on. Time is in seconds-->
    <add key="DurationColor" value="2" />
    <!--Number of visble variable in dashboard-->
    <add key="NumberVisibleVariable" value="100" />
    <!--Path of file to add the rules-->
    <add key="PathRuleFile" value="PRASA-VariablesRules.xml" />
    <!--All colours for the choice in the rules
    the key must start by ColorRule(Colour)-->
    <add key="ColorRuleAqua" value="Aqua" />
    <add key="ColorRuleBlue" value="Blue" />
    <add key="ColorRuleChocolate" value="Chocolate" />
    <add key="ColorRuleCrimson" value="Crimson" />
    <add key="ColorRuleDarkOrchid" value="DarkOrchid" />
    <add key="ColorRuleDarkRed" value="DarkRed" />
    <add key="ColorRuleDodgerBlue" value="DodgerBlue" />
    <add key="ColorRuleGold" value="Gold" />
    <add key="ColorRuleGreen" value="#00FF00" />
    <add key="ColorRuleGray" value="Gray" />
    <add key="ColorRuleHotPink" value="HotPink" />
    <add key="ColorRuleLimeGreen" value="LimeGreen" />
    <add key="ColorRuleOrange" value="Orange" />
    <add key="ColorRulePurple" value="Purple" />
    <add key="ColorRuleRed" value="Red" />
    <add key="ColorRuleYellow" value="Yellow" />
    <!-- ==============================================================================================================
          All Git configuration 
    ==============================================================================================================-->
    <add key="URLRepository" value="https://gist.github.com/2403080e85a178374ccc.git" />
    <add key="GitHubLogin" value="Laborame" />
    <add key="GitHubPassword" value="L@borame15" />
    <add key="Email" value="edwin.moulin@transport.alstom.com" />
    <add key="Name" value="Laborame" />
    <!--Put the period of the pulling it is in milliseconds-->
    <add key="TimeToPull" value="1000" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>