<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--IP of RTC server-->
    <add key="IpAddrRTC" value="10.23.154.180"/>
    
    <!--Refresh rate is in milliseconds-->
    <add key="RefreshRate" value="250"/>

    <!--Color when a value has changed (Bytes) value beetween 0 to 255
        Crystal Blue = R:161, G:226, B:255-->
    <add key="RedValue" value="161"/>
    <add key="GreenValue" value="226"/>
    <add key="BlueValue" value="255"/>

    <!--Time that colors stay on. Time is in seconds-->
    <add key="DurationColor" value="2"/>
  </appSettings>
</configuration>